.profile__avatar {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-color: #c4c4c4;
}

@media (max-width: 1023px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
